@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  color: #444;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

nav {
  padding: 30px 0;
  border-bottom: 1px solid #eee;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

nav li {
  font-size: 16px;
  margin: 0 40px;
  cursor: pointer;
  font-weight: 700;
  text-transform: uppercase;
}

nav li.active {
  text-decoration: underline;
}

nav li:hover {
  text-decoration: underline;
}

.generator {
  display: flex;
  justify-content: center;
}

.generator .title {
  margin-bottom: 20px;
  letter-spacing: 1px;
  text-align: center;
}

.generator .command {
  width: 320px;
  margin: 20px;
  padding: 20px;
  background-color: #444;
  border: 1px solid #eee;
  border-radius: 4px;
  color: #fff;
}

.generator .command button {
  display: block;
  width: 70%;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #444;
  font-size: 18px;
  font-weight: 700;
  padding: 10px 20px;
}

.generator .command .date {
  display: block;
  width: 70%;
  margin: 0 auto 20px auto;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  color: #444;
  font-size: 18px;
  outline: none;
}

.generator .downloads {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 4px;
  color: #444;
}

.generator .link {
  margin: 10px 0;
}


/* STEP 2: OUTPUT */
.output {
  display: flex;
  justify-content: center;
}

.output .title {
  margin-bottom: 20px;
  letter-spacing: 1px;
  text-align: center;
}

.output .command {
  width: 320px;
  margin: 20px;
  padding: 20px;
  background-color: #444;
  border: 1px solid #eee;
  border-radius: 4px;
  color: #fff;
}

.output .command .file {
  display: block;
  width: 100%;
  margin: 0 auto 30px auto;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 18px;
  outline: none;
  text-align-last: center;
}

.output .command .flex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.output .command .version {
  font-size: 22px;
  font-weight: 700;
}

.output .command .select {
  display: block;
  margin-left: 20px;
  padding: 5px;
  border-radius: 4px;
  color: #444;
  font-size: 18px;
  outline: none;
}

.output .command button {
  display: block;
  width: 70%;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #444;
  font-size: 18px;
  font-weight: 700;
  padding: 10px 20px;
}

.output .downloads {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 4px;
  color: #444;
}

.output .link {
  margin: 10px 0;
}

.chart {
  padding: 20px 0;
}

/* .chart .options {
  display: flex;
  padding: 20px 10px;
} */

/* .bigchart {
  width: 1000px;
  height: 100vh;
  overflow-x: scroll;
} */

.config {
  padding: 20px;
}

.date_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

.end_container {
  margin-left: 20px;
}

.file_container {
  margin-left: 40px;
}

.label {
  font-size: 16px;
}

.start_date {
  display: block;
  margin-top: 5px;
  padding: 10px 20px;
  background-color: beige;
  border: 1px solid #eee;
  border-radius: 4px;
  color: #444;
  font-size: 18px;
  outline: none;
}

.end_date {
  display: block;
  margin-top: 5px;
  padding: 10px 20px;
  background-color: beige;
  border: 1px solid #eee;
  border-radius: 4px;
  color: #444;
  font-size: 18px;
  outline: none;
}

.file_type {
  display: block;
  margin-top: 5px;
  padding: 10px 20px;
  border: 1px solid #eee;
  border-radius: 4px;
  color: #444;
  font-size: 18px;
  outline: none;
}

.flex {
  display: flex;
  align-items: center;
}

.flex + .flex {
  margin-left: 30px;
}

.sensor_id {
  display: block;
  margin-left: 10px;
  padding: 3px 10px;
  border: 1px solid #eee;
  border-radius: 4px;
  color: #444;
  font-size: 18px;
  outline: none;
}

.base_station_id {
  display: block;
  margin-left: 10px;
  padding: 3px 10px;
  border: 1px solid #eee;
  border-radius: 4px;
  color: #444;
  font-size: 18px;
  outline: none;
}

.calibration_file {
  display: block;
  margin-left: 10px;
  padding: 3px 10px;
  border: 1px solid #eee;
  border-radius: 4px;
  color: #444;
  font-size: 18px;
  outline: none;
}

.algorithm_version {
  display: block;
  margin-left: 10px;
  padding: 3px 10px;
  border: 1px solid #eee;
  border-radius: 4px;
  color: #444;
  font-size: 18px;
  outline: none;
}

.label2 {
  font-size: 16px;
}

.config_submit {
  margin-left: 30px;
  padding: 8px 20px;
  border: 1px solid #eee;
  border-radius: 4px;
  color: #444;
  cursor: pointer;
  font-size: 16px;
  outline: none;
}